p.red
  color: #d60229
  font-size: 1.4em

p.green
  color: #42f442
  font-weight: bold
  font-style: italic
  font-size: 1.3em

p.yellow
  color: #707022
  font-weight: bold
  font-size: 2.2em

p.orange
  color: #f7bb2e