<h1>Helpers</h1>

<h3>This is a h3 header on the helpers page.</h3>

<p>Handlebars makes it (somewhat) easy to create custom helpers. Helpers are Javascript functions. In this project, the helpers are in the helpers.js file in the /lib directory. Adding the helper, and any parameters it requires, <strong>between double brackets \{{ }}</strong>, will be output to the webpage where the helper is called. 

<p>Here are some examples:</p>

<p>{{yell 'modified by the yell helper, so all caps.'}}</p>

<p>{{whisper 'Modified By The Whisper Helper, So ALL LOWER CASE.'}}</p>

<p>The number <strong>{{randomNumber}}</strong> has been randomly generated, using the randomNumber helper. 

<p style="font-size: .7em">Hit refresh to see another random number between 1 and 100.</p> 