<hr>
<p class="copyright">&copy 2018 The Strange Owl, LLC ◉ All Rights Reserved.</p>
<div class="footer">
	<ul class="links">
 		<li>
 			 <a href="/">Home</a>
 		</li>
 		<li>
		 <a href="/helpers">Helpers</a>
 		<li>
  <a href="/about">About</a>
 		</li>
 </ul>
</div>