doctype html
html(lang="en")
  head
    title= pageTitle
    script(type='text/javascript').
      if (foo) bar(1 + 5)
  body
    include includes/header.pug
    h1 Pug - node template engine
    #container.col
      if youAreUsingPug
        p You are amazing
      else
        p.green Get on it!
      p Pug is a terse & simple templating language with a strong focus on performance and powerful features.
      p.green Pug is fun and it's like Jade. 
      p.yellow Hot module replacement won't work with ExtractTextPlugin so disable it to make HMR run for changes to styles. But then go back and run separate environments for PROD and DEV so that it is not disabled for PROD.