<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title></title>
  </head>
  <body>

<body>
    {{> components/nav}}
    <p>Whatever this is and whatever this is not.</p>
		 <p>{{salutation}}</p>
     <p>{{whisper 'THIS IS LOVE'}}</p>
		 <p>The random number generator generated {{randomnum}}.</p> 
    {{> components/footer}}

</body>

</html>