<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Handlebars Helper</title>
  </head>
  <body>
    <p>Custom content goes here every single damn time.</p>
    <div>
      <p>>Here is a div.</p
    </div>
</html>