<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title><%= htmlWebpackPlugin.options.title %></title>
  </head>
  <body>
      <p class="green">Custom green content goes.</p>
      <p class="red">Custom red content goes here.</p>
    <p>Custom content goes here every single time.</p>
    <p> Adding a hash true param gives you a unique hash on every build of script files</p>

    <div>
      <p>>Here is a EJS paragraph inside a div. </p
    </div>
</html>