<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title></title>
  </head>
  <body>

<body>
    {{> partials/nav}}
    <p>Whatever this is and whatever this is not.</p>
		 <p>{{> helpers/salutation}}</p>
     	 <p>The random number generator generated {{> helpers/randomnum}}.</p> 
    {{> partials/footer}}

</body>

</html>