<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Handlebars Helper</title>
  </head>
  <body>

<body>
    {{> components/nav}}
    <p>Whatever this is and whatever this is not.</p>
		 <p>{{salutation}}</p>
		 <p>{{whisper 'Modified By The Whisper Helper, So ALL LOWER CASE.'}}</p>
		 <p>The number <strong>{{randomnum}}</strong> has been randomly generated, using the randomNumber helper. 
    {{> components/footer}}

</body>

</html>