<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Handlebars Helper</title>
  </head>
  <body>

<body>
    {{> components/nav}}
    <p>Whatever this is whatever this is not.</p>
    {{> components/footer}}

</body>

</html>