<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title><%= htmlWebpackPlugin.options.title %></title>
  </head>
  <body>
    <p>Custom content goes here every single time.</p>
    <div>
      <p>>Here is a div</p
    </div>
</html>